.footerStyle {
    background-color: #343a40;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.phantomStyle {
    display: block;
    width: 100%;
}